header{
	display: block;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

header h1{
	font-family: arial;
	font-size: 60px;
	font-weight: bold;
	
}

header #newGameButton{
	
	display: block;
	margin: 20px auto;
	
	width: 100px;
	padding: 10px 10px;
	background-color: #8f7a66;
	
	font-family: arial;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

header #newGameButton:hover{
	background-color: #9f8b77;
}
header p{
	font-family: arial;
	font-size: 25px;
	margin:20px auto;
}


#grid-container {
	
	width: 460px;
	height: 460px;
	padding: 20px;
	
	margin: 20px auto;
	background-color:  #bbada0;
	
	border-radius: 10px;
	position: relative;
	

}
.grid-cell{
	width: 100px;
	height: 100px;
	border-radius: 6px;
	background-color: #ccc0b3;
	
	position: absolute;
}

.number-cell{
	border-radius: 6px;
	
	font-family: arial;
	font-weight: bold;
	font-size: 60px;
	line-height: 100px;
	text-align: center;
	
	position: absolute;
}

.button-cell{
	width: 50px;
	height: 50px;
	background-color: #9F8B77;
	
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font
	
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	
	position: absolute;
}
.button-cell:hover{
	background-color: #BBADA0;
}

#button-cell-up{
	left: 1350px;
	top: 400px;
}
#button-cell-down{
	left: 1350px;
	top: 500px;
}

#button-cell-left{
	left: 1300px;
	top: 450px;
}

#button-cell-right{
	left: 1400px;
	top: 450px;
}
#gameOver{
	opacity: 0;
	position: absolute;
	display: block;
	margin: 195px 50px;
	float: left;
	z-index:1;
}

#score-all{
	font-size: 40px;
	font-family: "arial black";
	position: relative;
	left: -35px;
}
#score{
	color: black;
}

#records{
	background-color: #CCC0B3;
	width: 280px;
	height: 280px;
	
	position: absolute;
	top:100px;
	left: 1240px;
	
	text-align: center;
}
#records .record-title{
	font-size: 30px;
	font-weight: 1000;
}
#records .recordsClear{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: aliceblue;
	position: absolute;
	top: 70px;
	left: 90px;
	background-color: #8F7A66;
	border-radius: 50px;
}
#records .record-1{
	font-family: arial;
	font-size: 60px;
	font-weight: bold;
}
#backgroundmusicbuttom{
	display: none;
}

#picture-checkmusic{
	width: 35px;
	height: 35px;
	position: relative;
	top: -60px;
	left: 315px;
	float: left;
}
#music-play {
	width: 35px;
	height: 35px;
	position: relative;
	float: left;
	opacity: 1;
}
#music-stop {
	width: 35px;
	height: 35px;
	position: relative;
	top: -35px;
	float: left;
	opacity: 0;
}
#ado{
	display: none;
}